[defaults]
inventory = hosts.ini
remote_user = ubuntu
private_key_file = ~/.ssh/5G-lab-2026
host_key_checking = False
forks = 7

[privilege_escalation]
become = True
become_method = sudo
become_user = root
